* {
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {

  .header-text p {
    width: 25em;
  }

  #email {
    font-size: 1.125em;
  }

  #subscribe {
    min-width: 25%;
    justify-content: space-around;
  }

  .timer-item-name.full {
    display: flex;
    background: url("./assets/timer-item-name.svg") center no-repeat;
    background-size: contain;
  }

  .timer-item-name.short {
    display: none;
  }

}

@media (max-width: 1200px) {
  .logo {
    margin-top: 7em;
  }

  .wrapper {
    overflow-y: scroll;
  }

  #subscribe {
    margin: 1.5em 0;
  }

  .vector-left {
    transform: scale(0.8) translateX(-130px) translateY(-130px);
  }

  .vector-right {
    transform: scale(0.9) translateX(30px) translateY(-30px);
  }
}

@media (max-width: 768px) {

  .logo {
    margin-top: 9em;
  }

  #email {
    font-size: 0.875em;
    width: 100%;
    overflow-wrap: break-word;
  }

  #subscribe {
    width: 100%;
    max-width: 80%;
  }


  .header-text h1 {
    font-size: 2.25em;
  }

  .timer h1 {
    font-size: 2.25em;
  }

  .vector-left {
    transform: scale(0.7) translateX(-150px) translateY(-150px);
  }

  .vector-right {
    transform: scale(0.9) translateX(30px) translateY(-30px);;
  }

  .section-1-main {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .timer-item-name.full {
    display: none;
  }

  .timer-item-name.short {
    display: flex;
    background: url("./assets/timer-item-name-short.svg") center no-repeat;
    background-size: contain;
    height: 4em;
    width: 4em;
  }

}

@media (max-width: 550px) {
  .header-text p {
    width: 19em;
  }

  #email {
    font-size: 0.875em;

  }

  .vector-left {
    transform: scale(0.5) translateX(-290px) translateY(-250px);
  }

  .vector-right {
    transform: scale(0.75) translateX(60px) translateY(-60px);;
  }
}

@media screen and (max-width: 450px){
  .logo {
    margin-top: 14em;
  }

  .vector-left {
    transform: scale(0.4) translateX(-360px) translateY(-360px);
  }

  .vector-right {
    transform: scale(0.6) translateX(100px) translateY(-120px);;
  }

  .header-text p {
    width: 17em;
  }

  .header-text h1 {
    line-height: 100%;
    width: 10em;
    margin-bottom: 0.5em;
  }

  #subscribe-submit {
    margin-right: 30px;
  }
}

body{
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 1.125em;
}

a {
  text-decoration: none;
}

#root {
  text-align: center;
  width: 100%;
}

.section-1 {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  overflow-x: hidden;
  position: relative;
}

h1{
  font-size: 4.5em;
  font-weight: bold;
  color: #162C4E;
  opacity: 0.39;
}

.header-text{
  margin-bottom: 2em;
}


.header-text p {
  margin: auto;
}


.vector-right {
  position: absolute;
  right: 0;
  top: 0;
}

.vector-left {
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  padding: 3em 0 6em;
}

.section-1-main {
  display: flex;
  flex-direction: column;

}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timer h1 {
  font-weight: 600;
  opacity: 1;
}

.timer-item {
  display: flex;
  flex-direction: column;
  color: white;
}

.timer-item-name {
  height: 4em;
  width: 9em;
  justify-content: center;
  align-items: center;
}

.section-1-main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6em 0;
}

.button button{
  display: flex;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  justify-content: space-around;
  align-items: center;
  background-color: #1D4169;
  color: #ffffff;
  margin-top: 1em;
  height: 4em;
  width: 16em;
  border: none;
  border-radius: 40px;
}

a {
  text-decoration: none;
}

.footer {
  position: relative;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  min-height: 10%;
  color: white;
  background-color: #162C4E;
}

#subscribe {
  display: flex;
  flex-direction: row;
  -webkit-appearance: none;
  align-items: center;
  background: white;
  border-radius: 40px;
  height: 4em;
}

#email {
  border: none;
  margin-left: 1em;
  font-family: 'Poppins', sans-serif;
  background: transparent;
}

#subscribe-submit {
  display: flex;
  justify-self: end;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: #DF2224;
  border: none;
  border-radius: 50%;
  margin-right: 0.5em;
}

input:focus
{
  outline: none;
}


.popup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  top:0;
  background-color: rgba(22,44,78,0.6);
}

.popup.hide {
  display: none;
}

.popup__content {

  width: 18em;
  background-color: white;
  border-radius: 2px;
  padding: 20px;
}

.popup__content h1 {
  opacity: 1;
  font-size: 2.25em;
}

.popup__content p {
  font-size: 1em;
  margin-bottom: 2em;
}

.cross {
  display: flex;
  width: 100%;
  justify-content: end;
  margin-bottom: 3em;
}

.cross button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background-color: transparent;
  border: none;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn button{
  display: flex;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 1.125em;
  justify-content: center;
  align-items: center;
  background-color: #1D4169;
  color: #ffffff;
  height: 4em;
  width: 12em;
  border: none;
  border-radius: 40px;
  margin-bottom: 2.5em;
}